@using DevSkill.Inventory.Application.Features.Products.Queries
@model ProductGetListQuery
@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css"/>
}
<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Products</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-search mr-1"></i>Search Product</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" asp-for="SearchItem.Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" asp-for="SearchItem.Description" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Price From</label>
                                <input type="number" asp-for="SearchItem.PriceFrom" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Price To</label>
                                <input type="number" asp-for="SearchItem.PriceTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button id="searchButton" type="submit" class="btn btn-primary float-right">Search</button>
                </div>
            </div>
        </div>
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Available Products</h3></div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="_ResponsePartial" />
                        <partial name="_ModalPartial" />
                        <table id = "products" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>StockQuantity</th>
                                    <th>Description</th> 
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>StockQuantity</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card --> 
            </div>
            <!-- /.col -->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script>
        $(function () {
            $("#products").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                lengthChange: true,
                autoWidth: false,
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],
                ajax: {
                    url: "/Admin/Products/GetProductJsonData",
                    type: "POST",
                    contentType: "application/json", //must be added
                    dataType: "json", //better to add, not mandatory
                    data: function (d) {
                        d.SearchItem = {
                            Name: $("#SearchItem_Name").val(),
                            Description: $("#SearchItem_Description").val(),
                            PriceFrom: $("#SearchItem_PriceFrom").val() === ""? null : $("#SearchItem_PriceFrom").val(),
                            PriceTo: $("#SearchItem_PriceTo").val() === "" ? null : $("#SearchItem_PriceTo").val()
                        };
                        return JSON.stringify(d);
                    },
                },
                columnDefs: [
                    {
                        orderable: false,
                        targets: 4,
                        render: function (data, type, row) {
                            console.log(type);
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/products/update/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </button>`;
                        }
                    }
                ]
            });

            $('#products').on('click', '.show-bs-modal', function () {
                let id = $(this).data("id");
                let deleteModal = $("#modal-delete");
                deleteModal.find('.modal-body p').text('Are you sure you want to delete this product?');
                $('#delete-id').val(id);
                $('#delete-form').attr('action', '/admin/products/delete');
                deleteModal.modal('show');
            });

            $('#delete-button').click(function()
            {
                $('#delete-form').submit();
            });

            $("#searchButton").click(function () {
                $('#products').DataTable().ajax.reload(null, false);
            });

        });
    </script>
}