
@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Products</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="/Admin/Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<div class="card-header">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <!-- Optional content -->
        </div>
        <div class="col-sm-12 col-md-2 d-flex justify-content-end align-items-center gap-2 flex-nowrap">
            <button type="button" class="btn btn-sm btn-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#damageProductModal">
                <i class="bi bi-dash me-1"></i>Damage Product
            </button>
            <button type="button" class="btn btn-sm btn-success text-nowrap" data-bs-toggle="modal" data-bs-target="#storeProductModal">
                <i class="bi bi-plus me-1"></i>Store Product
            </button>
            <button type="button" class="btn btn-sm btn-info text-nowrap" data-bs-toggle="modal" data-bs-target="#AddProductModal">
                <i class="bi bi-plus me-1"></i>Add Product
            </button>
        </div>
    </div>
</div>

<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Available Products</h3></div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="./_Add" />
                        <partial name="./_Store" />
                        <partial name="./_Damage" />
                        <partial name="./_Update" />
                        <partial name="_ResponsePartial" />
                        <partial name="_DeleteModalPartial" />
                        <table id="products" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#SN.</th>
                                    <th>Image</th>
                                    <th>Name</th> 
                                    <th>Barcode</th>
                                    <th>Category</th>
                                    <th>Purchase</th>
                                    <th>MRP</th>
                                    <th>Wholesale</th>
                                    <th>Stock</th>
                                    <th>Low Stock</th>
                                    <th>Damage Stock</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#SN.</th>
                                    <th>Image</th>                                    
                                    <th>Name</th>
                                    <th>Barcode</th>
                                    <th>Category</th>
                                    <th>Purchase</th>
                                    <th>MRP</th>
                                    <th>Wholesale</th>
                                    <th>Stock</th>
                                    <th>Low Stock</th>
                                    <th>Damage Stock</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card --> 
            </div>
            <!-- /.col -->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/productIndex.js"></script>    
}



