@using DevSkill.Inventory.Infrastructure

@if (TempData.Peek<ResponseModel>("ResponseMessage") != null)
{
    var response = TempData.Get<ResponseModel>("ResponseMessage");
    <div id ="response-alert" class="alert alert-@(response.Type.ToString().ToLower())">
        @response.Message
    </div>
}